p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* cf https://bookdown.org/yihui/rmarkdown-cookbook/custom-blocks.html# */
.sidenote {
  padding: 1em;
  background: #f4f5f9;
  /* background: #f4f5f9 5px center/3em no-repeat;
  padding: 1em 1em 1em 4em;
  background-image: url(imgs/note.png); */
}

/* https://fonts.google.com/share?selection.family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 */
.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Bookdown fonts */
.book.font-family-0 {
  font-family: Lato, Georgia, serif;
}
.book.font-family-1 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Captions under images, cf https://github.com/rstudio/bookdown/blob/main/inst/examples/css/style.css*/
.figcaption {
  color: #777;
  margin-bottom: 3em;
  font-size: 0.8em;
}
div.float + div.figcaption {
  margin-top: -3em;
}

/* header colors with Murex purple */
h1, h2 {
  color: #db0a5b;
}

/* complementary color for deeper headers (from https://www.canva.com/colors/color-wheel/) */
h3, h4, h5, h6 {
  color: #F52374;
}
